@charset 'utf-8';
@import '@/assets/scss/_import/variables.scss';

.btn_wrap {
  padding-top: 8px;
}

.btn--full { width: 100% !important; }

.btn {
	padding: .786rem 1.5rem;
	background-color: $primary-purple;
	border-color: $primary-purple;
	border-radius: .358rem;

  &:hover {
    background-color: $primary-purple;
		border-color: $primary-purple;
    box-shadow: 0 8px 25px -8px $primary-purple;
  }
  
	&:active,
	&:focus {
		background-color: $primary-purple;
		border-color: $primary-purple;
	}
}
