@charset 'utf-8';
@import '@/assets/scss/_import/variables.scss';

.table_wrap {
  overflow-x: auto; 

  .table {
    min-width: 676px;
    border-bottom: 1px solid #3b4253;

    thead tr th {
      padding: .72rem;
      color: $text-color;
      border-color: #3b4253;
      background-color: #343d55;
    }
    
    tbody tr td {
      padding: 1rem .72rem;
      color: $text-color;
    }

    th, td {
      text-align: center;
    }
  }
}

.pagination_wrap {
  padding: 1.5rem;

  .total { width: 100%; }

  .pagination {
    justify-content: center;

    .page-item {
      background-color: #242b3d;

      &.disabled .page-link { color: #676d7d; }
      &.active .page-link {
        color: #fff;
        background-color: blue;
        border-radius: 50%;
      }
      &:nth-child(3) {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      &:nth-last-child(3) {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }

    .btn_page_arrow {
      border-radius: 50%;

      &.btn_prev_page,
      &.btn_next_page { margin: 0 .357rem; }  
    }

    .page-link {
      padding: .45rem .5rem .49rem;
      width: 32px;
      height: 32px;
      color: $gray;
      background-color: transparent;
      border: 0;
    }
  }

  @media (max-width: 991px) {
    padding: .5rem 1.5rem 1.5rem;

    .total { margin-bottom: 2rem; }
  }
}